.cityName {
    margin-top: 20px;
    text-align: left;
    font-size: 55px;
    font-family: Caveat, sans-serif;
}


#map {
    height: 50vh;
    width: 50vw;
    border: 1px double;
    /* align-self: center; */
}

.trip-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#source-info {
    margin-right: 10px;
}