.food-images {
    width: 30%;
    height: 60%;
    background: rgb(179, 231, 215);
    margin-top: 10px;
    border: 1px solid;

}

.food {
    margin-top: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 15px;
}

.restaurants {
    padding: 15px;
}


.more-info {
    font-weight: bold;
    color: black;
    background: rgb(127, 167, 127);
    padding: 10px;
    margin: 30px;
}

.phone-num {
    padding: 10px;
}

@media screen and (max-width: 740px) {
    .food {
        display: inline-block;

    }
}